<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Star Admin2 </title>
    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/typicons/typicons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/simple-line-icons/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'js/select.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
                <div class="me-3">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button"
                        data-bs-toggle="minimize">
                        <span class="icon-menu"></span>
                    </button>
                </div>
                <div>
                    <a class="navbar-brand brand-logo" href="index.html">
                        <img src="{% static 'images/sun.png' %}" alt="logo" />
                    </a>
                    <a class="navbar-brand brand-logo-mini" href="index.html">
                        <img src="{% static 'images/sun.png' %}" alt="logo" />
                    </a>
                </div>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_settings-panel.html -->
            <div class="theme-setting-wrapper">
                <div id="settings-trigger"><i class="ti-settings"></i></div>
                <div id="theme-settings" class="settings-panel">
                    <i class="settings-close ti-close"></i>
                    <p class="settings-heading">SIDEBAR SKINS</p>
                    <div class="sidebar-bg-options selected" id="sidebar-light-theme">
                        <div class="img-ss rounded-circle bg-light border me-3"></div>Light
                    </div>
                    <div class="sidebar-bg-options" id="sidebar-dark-theme">
                        <div class="img-ss rounded-circle bg-dark border me-3"></div>Dark
                    </div>
                    <p class="settings-heading mt-2">HEADER SKINS</p>
                    <div class="color-tiles mx-0 px-4">
                        <div class="tiles success"></div>
                        <div class="tiles warning"></div>
                        <div class="tiles danger"></div>
                        <div class="tiles info"></div>
                        <div class="tiles dark"></div>
                        <div class="tiles default"></div>
                    </div>
                </div>
            </div>
            <!-- partial -->
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">
                            <i class="mdi mdi-grid-large menu-icon"></i>
                            <span class="menu-title">to do develop</span>
                        </a>
                    </li>
                   
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="home-tab">
                                <div class="tab-content tab-content-basic">
                                    <div class="tab-pane fade show active" id="overview" role="tabpanel"
                                        aria-labelledby="overview">
                                        <div class="row">
                                            <div class="col-lg-12 d-flex flex-column">
                                                <div class="row flex-grow">
                                                    <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
                                                        <div class="card card-rounded">
                                                            <div class="card-body">
                                                                <div class="table-responsive pt-3">
                                                                    <table class="table table-bordered" >
                                                                      <thead>
                                                                        <tr >
                                                                          <th style="font-size:30px;">總發電量</th>
                                                                          <th style="font-size:30px;">當月發電量</th>
                                                                          <th style="font-size:30px;">當日發電量</th>
                                                                        </tr>
                                                                      </thead>
                                                                      <tbody>
                                                                        <tr class="table-warning">
                                                                          <td id="total_power" style="font-size:30px;"></td>
                                                                          <td id="month_power" style="font-size:30px;"></td>
                                                                          <td id="day_power" style="font-size:30px;"></td>
                                                                      </tbody>
                                                                    </table>
                                                                  </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 d-flex flex-column">
                                                <div class="row flex-grow">
                                                    <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
                                                        <div class="card card-rounded">
                                                            <div class="card-body">
                                                                <h4 class="card-title"></h4>
                                                                <p class="card-description">
                                                                    <div class="d-sm-flex justify-content-between align-items-start">
                                                                        <div>
                                                                            <h4 class="card-title card-title-dash">設備編號</h4>
                                                                            <h4 class="card-title card-title-dash" id="curve_line_dev_id"></h4>
                                                                        </div>
                                                                        <div>
                                                                        <div class="dropdown">
                                                                            <button class="btn btn-secondary dropdown-toggle toggle-dark btn-lg mb-0 me-0" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 選擇設備 </button>
                                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2" style="">
                                                                                {% for dev_data in dev_list %}
                                                                                <a class="dropdown-item" onclick="setCurveLineData({{ dev_data }})" >{{ dev_data }}</a>
                                                                                {% endfor %}
                                                                            </div>
                                                                        </div>
                                                                        </div>
                                                                    </div>
                                                                </p>
                                                                <div class="chartjs-wrapper mt-5">
                                                                    <canvas id="performaneLine"></canvas>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 grid-margin stretch-card">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">每日KPI</h4>
                                                        <p class="card-description">
                                                            <div class="d-sm-flex justify-content-between align-items-start">
                                                                <div>
                                                                    <h4 class="card-title card-title-dash">設備編號</h4>
                                                                    <h4 class="card-title card-title-dash" id="kpi_day_dev_id"></h4>
                                                                </div>
                                                                <div>
                                                                  <div class="dropdown">
                                                                    <button class="btn btn-secondary dropdown-toggle toggle-dark btn-lg mb-0 me-0" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 選擇設備 </button>
                                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2" style="">
                                                                        {% for dev_data in dev_list %}
                                                                        <a class="dropdown-item" onclick="getDevKpiDayListSetDev({{ dev_data }})" >{{ dev_data }}</a>
                                                                        {% endfor %}
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                        </p>
                                                        <div class="table-responsive pt-3">
                                                            <table class="table table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th>No.</th>
                                                                        <th>日期</th>
                                                                        <th>SN</th>
                                                                        <th>發電量(kWh)</th>
                                                                        <th>等效利用小時數</th>  
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="dev_kpi_day_list">
                                                                   
                                                                   
                                                                </tbody>
                                                            </table>
                                                            <div>
                                                                <!-- 显示当前页的数据 -->
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="container">
                                                            <div class="row align-items-end justify-content-center">
                                                                <span class="step-links">
                                                            
                                                                    <a href="javascript:void(0);"  onclick="getDevKpiDayListAction('first')">&laquo; 第一頁</a>
                                                                    <a href="javascript:void(0);"  onclick="getDevKpiDayListAction('prev')">上一頁</a>
                                                                
                                                                
                                                                    <span class="current">
                                                                     Page <span id="kpi_day_dev_now_page"></span> of <span id="kpi_day_dev_all_page"></span>
                                                                    </span>
                                                                
                                                                
                                                                    <a href="javascript:void(0);"  onclick="getDevKpiDayListAction('next')">下一頁</a>
                                                                    <a href="javascript:void(0);"  onclick="getDevKpiDayListAction('end')">最後一頁 &raquo;</a>
                                                                
                                                                </span>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <!-- plugins:js -->
    <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'vendors/progressbar.js/progressbar.min.js' %}"></script>
    <script src="{% static 'js/off-canvas.js' %}"></script>
    <script src="{% static 'js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'js/template.js' %}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
    <script src="{% static 'js/todolist.js' %}"></script>

    <script src="{% static 'js/Chart.roundedBarCharts.js' %}"></script>

    <!-- End custom js for this page-->
</body>


</html>

<script>
    var dataJSON = {};
    let dev_kpi_day_list_page = 1;
    let dev_kpi_day_list_count = 10;
    let dev_kpi_day_list_end_page = 0;
    let dev_kpi_day_list_dev_id = '';
    let first_div_id = {{ first_div_id }}
   
    var clock = setInterval(updateStationRealKpi , 600000);

    getDevKpiDayListSetDev(first_div_id)
    updateStationRealKpi()
    function updateStationRealKpi(){
        $.ajax({
            url: "/api/getStationRealKpi",
            type: "POST",
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function(return_data){
                console.log(return_data)
                if(return_data['error']==0){
                    data = return_data['data']
                    $("#total_power").text(data['total']+"kWh")
                    $("#month_power").text(data['month']+"kWh")
                    $("#day_power").text(data['day']+"kWh")
                }
                
              
            },
            error: function(xhr, ajaxOptions, thrownError){
                console.log(thrownError);
            }
        });
    }


    function getDevKpiDayListSetDev(dev_id){
        dev_kpi_day_list_dev_id = dev_id
        $("#kpi_day_dev_id").text("")
        $("#kpi_day_dev_id").text(dev_id)
        getDevKpiDayList(1,10);
    }


    function getDevKpiDayListAction(action){
        switch(action){
            case "first":
                dev_kpi_day_list_page = 1;
                getDevKpiDayList(dev_kpi_day_list_page,dev_kpi_day_list_count);
                break
            case "prev":
                dev_kpi_day_list_page = dev_kpi_day_list_page-1;
                if(dev_kpi_day_list_page<=0){
                    dev_kpi_day_list_page=1
                }
                getDevKpiDayList(dev_kpi_day_list_page,dev_kpi_day_list_count);
                break
            case "next":
                dev_kpi_day_list_page = dev_kpi_day_list_page+1;
                if(dev_kpi_day_list_page>=dev_kpi_day_list_end_page){
                    dev_kpi_day_list_page = dev_kpi_day_list_end_page
                }
                getDevKpiDayList(dev_kpi_day_list_page,dev_kpi_day_list_count);
                break
            case "end":
                dev_kpi_day_list_page = dev_kpi_day_list_end_page;
                getDevKpiDayList(dev_kpi_day_list_page,dev_kpi_day_list_count);
                break

        }
    }

    function getDevKpiDayList(page,count){
        var data_json = {
            "page" :page,
            "count":count,
            "dev_id":dev_kpi_day_list_dev_id
        };
        $.ajax({
            url: "/api/getDevKpiDayList",
            data: JSON.stringify(data_json),
            type: "POST",
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function(return_data){
                if(return_data['error']==0){
                    $("#dev_kpi_day_list").html('')
                    data_list = return_data['data']['data']
                    html = ''
                    data_list.forEach(function(item, i) {
                        html += `<tr>   
                            <td>`+item['no']+`</td>                               
                            <td>`+item['collect_time']+`</td>
                            <td>`+item['sn']+`</td>
                            <td>`+item['product_power']+`</td>
                            <td>`+item['perpower_ratio']+`</td>
                            </tr>`
                      
                    });
                    $("#dev_kpi_day_list").append(html)
                    $("#kpi_day_dev_now_page").text(page)     
                    $("#kpi_day_dev_all_page").text(return_data['data']['page_info']['total_page'])     
                    
                    dev_kpi_day_list_end_page = return_data['data']['page_info']['total_page']
                }
                
              
            },
            error: function(xhr, ajaxOptions, thrownError){
                console.log(thrownError);
            }
        });
    }

    let curve_line_days_str = "{{ curve_line_days_str }}"
    let curve_line_days_data = JSON.parse(curve_line_days_str.replace(/&quot;/g,'"'));

    let curve_line_data_str = "{{ curve_line_data_str }}"
    let curve_line_data = JSON.parse(curve_line_data_str.replace(/&quot;/g,'"'));
   
   let first_set_curve = 1

    var salesTopOptions = {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            yAxes: [{
                gridLines: {
                    display: true,
                    drawBorder: false,
                    color: "#F0F0F0",
                    zeroLineColor: '#F0F0F0',
                },
                ticks: {
                    beginAtZero: false,
                    autoSkip: true,
                    maxTicksLimit: 4,
                    fontSize: 10,
                    color: "#6B778C"
                }
            }],
            xAxes: [{
                gridLines: {
                    display: false,
                    drawBorder: false,
                },
                ticks: {
                    beginAtZero: false,
                    autoSkip: true,
                    maxTicksLimit: 7,
                    fontSize: 10,
                    color: "#6B778C"
                }
            }],
        },
        legend: false,
        legendCallback: function (chart) {
            var text = [];
            text.push('<div class="chartjs-legend"><ul>');
            for (var i = 0; i < chart.data.datasets.length; i++) {
                console.log(chart.data.datasets[i]); // see what's inside the obj.
                text.push('<li>');
                text.push('<span style="background-color:' + chart.data.datasets[i].borderColor + '">' + '</span>');
                text.push(chart.data.datasets[i].label);
                text.push('</li>');
            }
            text.push('</ul></div>');
            return text.join("");
        },

        elements: {
            line: {
                tension: 0.4,
            }
        },
        tooltips: {
            backgroundColor: 'rgba(31, 59, 179, 1)',
        }
    }
    var graphGradient = document.getElementById("performaneLine").getContext('2d');
    var graphGradient2 = document.getElementById("performaneLine").getContext('2d');
    var saleGradientBg = graphGradient.createLinearGradient(5, 0, 5, 100);
    saleGradientBg.addColorStop(0, 'rgba(26, 115, 232, 0.18)');
    saleGradientBg.addColorStop(1, 'rgba(26, 115, 232, 0.02)');
    var saleGradientBg2 = graphGradient2.createLinearGradient(100, 0, 50, 150);
    saleGradientBg2.addColorStop(0, 'rgba(0, 208, 255, 0.19)');
    saleGradientBg2.addColorStop(1, 'rgba(0, 208, 255, 0.03)');
    var salesTopData = {
        labels: [],
        datasets: [{
            label: '發電量',
            data: [],
            backgroundColor: saleGradientBg,
            borderColor: [
                '#1F3BB3',
            ],
            borderWidth: 1.5,
            fill: true, // 3: no fill
            pointBorderWidth: 1,
            pointRadius: [],
            pointHoverRadius: [],
            pointBackgroundColor: [],
            pointBorderColor: [],
        }]
    };


    var salesTop = new Chart(graphGradient, {
        type: 'line',
        data: salesTopData,
        options: salesTopOptions
    });


    setCurveLineData(first_div_id)
    function setCurveLineData(dev_id){
        if ($("#performaneLine").length) {
            data_json = {
                "dev_id":dev_id
            }
            $.ajax({
                url: "/api/getCurveLineData",
                data: JSON.stringify(data_json),
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function(return_data){
                    if(return_data['error']==0){
                        data = return_data['data']
                        if(first_set_curve==1){
                            var set_data = {
                                labels: data['curve_line_days'],
                                datasets: [{
                                    label: '發電量',
                                    data: data['curve_line_data'],
                                    backgroundColor: saleGradientBg,
                                    borderColor: [
                                        '#1F3BB3',
                                    ],
                                    borderWidth: 1.5,
                                    fill: true, // 3: no fill
                                    pointBorderWidth: 1,
                                    pointRadius: data['point_radius'],
                                    pointHoverRadius: data['point_hover_radius'],
                                    pointBackgroundColor: data['point_background_color'],
                                    pointBorderColor: data['point_border_color'],
                                }]
                            };
                            
                            $("#curve_line_dev_id").text(dev_id)
                            
                            salesTop.data = set_data
                            salesTop.update();
                        }
                        
                        
                        
                    }
                    
                  
                },
                error: function(xhr, ajaxOptions, thrownError){
                    console.log(thrownError);
                }
            });



    

           
        }
    }


    
</script>